[Desktop Entry]
Name=AxOS
X-KDE-PluginInfo-Name=AxOS
X-KDE-PluginInfo-Author=Foste380
X-KDE-PluginInfo-Email=none
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
