[Desktop Entry]
Name=AxOS
X-KDE-PluginInfo-Author=Ardox
X-KDE-PluginInfo-Name=AxOS
X-KDE-PluginInfo-Version=1.0.1
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0


[ContrastEffect]
enabled=false


[AdaptiveTransparency]
enabled=true
