[Desktop Entry]
Name=simply-birch
X-KDE-PluginInfo-Name=simply-birch
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Email=zayronxio@hotmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
